<div class="<%= message.user == current_user ? "sender" : "reciever" %> my-1" id="message-<%= message.id %>">
  <small>
     <i style="font-size: 10px;"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i> 
  </small>
  <p class="mb-0"><%= message.content %></p>
</div>

