.icons {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.favorites span {
    font-size: 100px;
}

.collaborators span {
    font-size: 100px;
}

.container {
    margin-top: 20px;
}

.right-page {
    margin-left: 60px;
}

.location {
    margin-top: 30px;
}

.description {
    margin-top: 15px;
}

.project-buttons {
    margin-right: 50px;
    margin-top: 50px;
}

.project-buttons a {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 126;
}

.project-buttons a:hover,
.project-buttons a:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.project-buttons a:hover {
    transform: translateY(-1px);
}

.project-buttons a:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.tab-content>.active {
  margin-left: 25px;
}

#join-btn {
    margin-left: 15px;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    line-height: 24px;
    width: fit-content;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: black;
    }
    margin: 20px;
}



#join-btn:hover:after {
    transform: translate(0, 0);
    text-decoration: none;
}

#join-btn:active {
    background-color: #ffdeda;
    outline: 0;
}

#join-btn:hover {
    outline: 0;
}

#add-fav-btn {
    margin-left: 15px;
    align-items: center;
    background-color: #F4F4F4;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    line-height: 24px;
    width: fit-content;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: black;
    }
    margin: 20px;
}



#add-fav-btn:after {
    transform: translate(0, 0);
    text-decoration: none;
}

#add-fav-btn:active {
    background-color: #F4F4F4;
    outline: 0;
}

#add-fav-btn:hover {
    outline: 0;
}
