
<div class="container">

<div class="heading-container col-4">
    <div class="header-div">
      <h1>Guillems gonna give it to ya</h1>
    </div>
  <div class="button-container">
    <%= link_to 'Check out the Projects', projects_path, class: 'home-page-btn' %>
    <%= link_to 'Become a Time Banker', projects_path, class: 'home-page-btn' %>
</div>
</div>

<div class="middle-banner">
  <div class="col-2"></div>
  <div class="info-container">
    <div class="info">
    <div class="info-logo">
    <img src="https://img.icons8.com/external-smashingstocks-detailed-outline-smashing-stocks/66/000000/external-clock-education-school-and-elearning-smashingstocks-detailed-outline-smashing-stocks-2.png"/></div>
        <p>This is a little bit of information</p>
    </div>
    <div class="info">
        <div class="info-logo">
        <img src="https://img.icons8.com/external-nawicon-detailed-outline-nawicon/64/000000/external-clock-living-room-nawicon-detailed-outline-nawicon.png"/></div>
        <p>This is a little bit of information</p></div>
    <div class="info">
        <div class="info-logo">
        <img src="https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-hourglass-ecology-justicon-lineal-justicon.png"/></div>
        <p>This is a little bit of information</p></div>
  </div>

</div>










</div>
