
<div class="container">

<div class="heading-container col-4">
    <div class="header-div">
      <h1>This is Important Text about Time Bank</h1>
    </div>
  <div class="button-container">
    <%= link_to 'Check out the Projects', projects_path, class: 'home-page-btn' %>
    <%= link_to 'Become a Time Banker', projects_path, class: 'home-page-btn' %>
</div>
</div>

<div class="middle-banner">
  <div class="col-2"></div>
  <div class="info-container">
    <div class="info">
       <p>This is a little bit of information</p>
    </div>
    <div class="info">
       <p>This is a little bit of information</p></div>
    <div class="info">

       <p>This is a little bit of information</p></div>
  </div>

</div>










</div>
