#my-blob-2 {
  width: 577px;
  height: 605px;
  border-radius: 50%;
  background-color: #f4f4f4;
  opacity: 0.8;
  left: -151px;
  top: -28px;
  z-index: -1;
  max-width: 100%;
  overflow: visible;
}
