.home-page-btn {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 300px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    margin-top: 20px;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: black;
    }
}

.home-page-btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.home-page-btn:hover:after {
    transform: translate(0, 0);
    text-decoration: none;
}

.home-page-btn:active {
    background-color: #ffdeda;
    outline: 0;
}

.home-page-btn:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}

.new-project {
    border: none;
}

.delete-btn {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: 300px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: black;
    }
}

.pencil-container {
    display: flex;
    justify-content: end;
}

.edit-pencil {
    text-decoration: none;
    transform: rotate(13deg);
    position: relative;
    top: -20px;
    right: -4px;
}

.btn-dark:hover {
  background-color: grey;
  color: white;
  border: grey;
}

.home-page-btn-2{
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    line-height: 24px;
    width: 100px;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
        color: black;
    }
    margin: 20px;

    @media (max-width: 480px) {
        margin-left: 7px;
        margin-right: 0;
        width: 65px;
      }
    
}

.home-page-btn-2:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 47px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -1px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.home-page-btn-2:hover:after {
    transform: translate(0, 0);
    text-decoration: none;
}

.home-page-btn-2:active {
    background-color: #ffdeda;
    outline: 0;
}

.home-page-btn-2:hover {
    outline: 0;
}

.home-page-btn-project-index{
  align-items: center;
  background-color: #FEE6E3;
  border: 0.5px solid grey;
  border-radius: 181px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  line-height: 24px;
  width: 154px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 29px;
  @media (max-width: 480px) {
    margin-top: 24px;
    padding-inline: 11px;
    height: 37px;
    width: 59px;
  }
}

.no-decor {
    text-decoration: none;
}

.collaborator {
    @media (max-width: 480px) {
        margin-left: 6px;
      }
}