.project-card {
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 6px rgba($color: #a5a5a575, $alpha: 0.5);
    border-radius: 10px;
    font-size: 18px;
    margin-top: 50px;
}

#project-request {
    width: 359px;
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}