.carousel {
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.carousel-dark img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.container {
    margin-top: 10px;
}