.chats {
    position: fixed;
    bottom: 0px;
    right: 50px;
    height: auto;
    background-color: #ffffffe0;
    width: 340px;
    border-radius: 6px 6px 0px 0px;

    #chat-list {
        list-style: none;
        padding: 0;
        margin: auto;
        overflow: scroll;
        border-bottom: 1px solid #0000000f;
        height: 350px;
    }
}

.header-chat {
    margin: auto;

    h6 {
    text-align: center;
    }
}



.sender {
    display: flex;
    flex-direction: column;
    align-self: end;
    background: linear-gradient(45deg, #f2b9e4, #fba5a9);
    padding: 14px;
    border-radius: 12px;
    width: fit-content;
    small {
        display: flex; 
        justify-content: flex-end;
    }
}

.reciever {
    background-color: #eaeaeae6;
    align-self: flex-start;
    padding: 14px;
    border-radius: 12px;
    width: fit-content;
    small {
        display: flex; 
        justify-content: flex-start;
    }

}

.messages {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    min-height: 285px;

}

.reciever-show {
    text-decoration: none;
    color: black;
    &:hover {
        color: black;
    }
}

.click-to-collapse {
    width: 100%;
    padding: 0;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #00000014;
    margin: 0;
    background: linear-gradient(45deg, #f2b7e485, #fca5aa5e);
    border-radius: 6px 6px 0px 0px;
}

.message-content {
    display: flex;
    align-self: end;
}


.chatroom {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.circle {
    align-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(59deg, #f095da, #ff6066);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
 
}


#outer-notification {
    position: relative;
    bottom: 17px;
    left: 16px;
    background: linear-gradient(59deg, red, #c928288f);
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.chat-index-li {
    border-bottom: 1px solid #0000000f;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #0000000f;
    margin: 0;
}