h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    display: inline;
    color: grey;
}

h4 {
    color: grey;
}

#underline {
    text-decoration: underline;
    text-decoration-color: pink;
}

.avatar-dash-contain {
    margin: 30px;
    padding: 46px;
}

#avatar-and-info {
    display: flex
}

.skills {
    display: flex;
}

.skills-icon {
    display: flex;
    margin-top: -40px;
    margin-left: 100px;
}

.nav-link {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
    border: none;
    background-color: #ffffffa8;
}

.card-header {
    border: none;
}

.profile-container {
    display: flex;
    width: 500px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.profile-projects {
    display: flex;
}

.info-bio {
    text-align: center;
}

.user-fulname {
    text-align: start;
    margin: 0px;
}

.user-bio {
    text-align: start;
}

.dashboard-avatar {
    width: 281px;
    height: 344px;
    background-position: center;
    background-size: cover;
}

.head-container {
    h1 {
        border-bottom: none;
    }
}

.underline {
    text-decoration: underline;
    text-decoration-color: pink;
}

#delete-project-btn {
    align-self: flex-end;
    font-size: 10px;
    position: relative;
    bottom: 10px;
    color: red;
    text-decoration: none;
    &:hover {
        color: red;
    }
}

#fav-delete-dashboard {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    /* margin-right: 10px; */
    text-decoration: none;
    /* position: relative; */
    /* bottom: 10px; */
    padding-bottom: 10px;
    &:hover {
        color: red;
    }
}

.booking-made a {
  color: black;
  text-decoration: none;

}
