.form-control {
  border-radius: 2px;
}

.form-control-homepage {
  border-radius: 20px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  background-color: #F4F4F4;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-project-index {
  border-radius: 20px;
  width: 95%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  background-color: #F4F4F4;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.from-label-project-index {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}


.end-div {
  @media (max-width: 480px) {
    display: none;
    }
}

.guest-div {
  @media (max-width: 480px) {
    display: none;
    }
}

.form {
  @media (max-width: 480px) {
    padding-inline: 27px;
  }
}