.info-container {
    display: flex;
    justify-content: center;
    margin-top: 130px;
}



.underline2 {
  text-decoration: underline;
  text-decoration-color: pink;
  text-decoration-thickness: 10px;
  padding-bottom: 1px;
}


.info {
    padding: 20px;
    height: 300px;
    width: 393px;
    justify-content: center;

    h3 {
      text-align: center;
      margin-left: -40px;
      font-size: 1.75rem;
      text-align: center;
      font-weight: 300;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
      text-align: center;
      width: 300px;
    }

}

.heading-container {
    display: flex;
    padding: 50px;
    margin-top: 145px;
    justify-content: space-between;

    h1 {
      font-size: 60px;
      font-family: 'Montserrat', sans-serif;
      width: 400px;
      display: inline;
  }
}

.home-page-btn {
    margin: 20px;
}

.button-container {
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 225px;
    margin-right: 130px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 10px
}

.header-div {
    width: 300px;
}


.info-logo {
    padding: 30px;
    margin-left: 81px;
}
