.info-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 400px;
}

.info {
    padding: 20px;
    height: 300px
}

.heading-container {
    display: flex;
    padding: 50px;
    margin-top: 145px;
    justify-content: space-between;
}

.home-page-btn {
    margin: 20px;
}

.button-container {
    margin: 130px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 10px
}

.header-div {
    width: 300px;
}

#my-blob {
    width: 577px;
    height: 605px;
    border-radius: 50%;
    background-color: #f4f4f4;
    opacity: 0.8;
    position: absolute;
    left: 87px;
    top: 656px;
    z-index: -1;
}