.info-container {
    display: flex;
    justify-content: center;
    margin-top: 203px;
    @media (max-width: 480px) {
      display: inline;
    }
}

#last-info {
  @media (max-width: 480px) {
    margin-top: 40px;
  }
}

.button-container {
  display: flex;
  @media (max-width: 480px) {
    margin-left: 8px!important;
    margin-top: 76px!important;
  }
}


.underline2 {
  text-decoration: underline;
  text-decoration-color: pink;
  text-decoration-thickness: 10px;
  padding-bottom: 1px;
}


.info {
    padding: 20px;
    height: 300px;
    width: 393px;
    justify-content: center;

    h3 {
      text-align: center;
      margin-left: -40px;
      font-size: 1.75rem;
      text-align: center;
      font-weight: 300;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
      text-align: center;
      width: 300px;
    }

}

.heading-container {
    display: flex;
    padding: 50px;
    margin-top: 60px;
    justify-content: space-between;

    @media (max-width: 480px) {
      display: inline;
    }


    h1 {
      font-size: 60px;
      font-family: 'Montserrat', sans-serif;
      width: 400px;
      display: inline;
  }
}

.home-page-btn {
    margin: 20px;
}

.button-container {
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 225px;
    margin-right: 130px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 10px
}

.header-div {
    width: 300px;

    @media (max-width: 480px) {
      margin-left: 16px;
    }
}


.info-logo {
    padding: 30px;
    margin-left: 81px;
}


.search-home {
padding: 15px;
box-shadow: 5px 5px;
border: 2px solid black;
border-radius: 10px;
width: 400px;
height: 50px;

@media (max-width: 480px) {
  width: 263px;
}
}

.search-home:focus-visible{
  outline: none;
}

.form-home {
  display: flex;
align-items: center;
}

#time {
  color: black;

  &:hover {
    color: black;
  }
}

form {
  input:focus-visible {
    outline: none;
  }
}