.navbar-lewagon {
    justify-content: space-between;
    background: #f4f4f4fa;
    position: sticky;
    top: 0px;
    padding-inline: 45px;
    z-index: 999;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
    cursor: pointer;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.new-project {
    margin-right: 50px;
}

.nav-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-light .navbar-nav .nav-link {
    background-color: #f4f4f4;
    border-bottom: none;
}

.nav-tabs .nav-link {
    color: black;
}

.btn-container {
  display: flex;
}
