.navbar-lewagon {
    justify-content: space-between;
    background: #f4f4f426;
    position: sticky;
    top: 0px;
    padding-inline: 45px;
}

.navbar-lewagon .navbar-collapse {
    flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
    width: 40px;
}

.new-project {
  margin-right: 50px;
}
