    .showcontainer {
        margin-top: 75px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 34px;
    }
    
    .project-image {
        height: 200px;
        width: 100%;
        border-radius: 6px 6px 0 0;
        background-position: center;
        background-size: cover;
        object-fit: cover;
    }
    
    .index-card-list {
        a {
            font-size: 13px;
        }
        ul {
            list-style: none;
            padding: 0;
            font-size: 12px;
        }
    }
    
    .header-link {
        border-bottom: 1px solid #857f7f2f;
        width: fit-content;
        font-size: 16px;
        a {
            text-decoration: none;
            color: white;
        }
    }
    
    .my-card {
        border-radius: 12px;
        width: 300px;
        border: 1px solid #0000002e;
        box-shadow: 0px 0px 10px #9d97975e;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
        .card-contents {
            padding-inline: 20px;
            border-radius: 0 0 9px 9px;
            background-color: #f4f4f4;
        }
    }
    
    .index-head {
        font-weight: lighter;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        width: 475px;
    }
    
    #sub-header {
        font-size: 15px;
    }
    
    .index-card-list {
        h6 {
            font-size: 12px;
        }
    }
    
    .card-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            text-decoration: none;
        }
    }
    
    .grey {
        color: #fffdfd8a;
        &:hover {
            color: #ff4571;
        }
    }
    
    .red {
        color: #ff4571;
        &:hover {
            color: #ff4571;
        }
    }
    
    #heart {
        position: relative;
        bottom: 196px;
        font-size: 25px;
        text-shadow: -1px 7px 20px #00000030;
    }
    
    .index-card-list {
        display: flex;
        justify-content: space-between;
    }
    
    .card-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        bottom: 65px;
        object-fit: cover;
        border: 3px solid #f4f4f4;
        left: 10px;
    }
    
    .right-page {
        margin-left: 50px;
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 40px;
            display: inline;
            color: grey;
            border-bottom: 40px;
        }
        p {
            text-align: left;
            width: 300px;
            font-family: 'Montserrat', sans-serif;
        }
        em {
            font-size: 20px;
        }
    }
    
    .header {
        border: none;
        .new {
            margin-left: 10px;
        }
    }
    
    .white {
        color: white;
        text-decoration: none;
        text-shadow: 0px 2px 3px #000000b3;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        &:hover {
            color: white;
        }
    }
    
    .heart {
        position: relative;
        bottom: 175px;
        right: 20px;
        font-size: 21px;
    }