.header {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
    border-bottom: 1px solid #bfbfbf57;
}

.user-img {
    width: 450px;
}

.show-avatar {
    height: 100%;
    border-radius: 6px;
    width: 100%;
}

.user-show-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    justify-content: space-between;
}

.card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
}

.card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    a {
        color: #000000;
        text-decoration: underline;
        text-decoration: none;
        font-weight: lighter;
    }
}

.card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.card-product .card-product-infos {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.back-btn {
    text-decoration: none;
    color: black;
    &:hover {
        color: black;
    }
}


.back-btn-2 {
    text-decoration: none;
    color: black;
    &:hover {
        color: black;
    }
}

#skills-breakdown {
  width: 300px;
}

.card-product-dashboard {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    justify-content: space-between;
}

.card-product-dashboard img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-radius: 6px 0 0 6px;
}

.card-product-dashboard h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 5px;

    a {
        color: #000000;
        text-decoration: underline;
        text-decoration: none;
        font-weight: lighter;
    }
}

.card-product-dashboard p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.card-product-dashboard .card-product-dashboard-infos {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
